## Ejemplo 4: Manipulación de columnas

### 1. Objetivos:
    - Aprender a crear nuevas columnas en un `DataFrame`
    - Aprender a reasignar columnas
    - Aprender a eliminar columnas
 
---
    
### 2. Desarrollo:

In [ ]:
import pandas as pd

Tenemos aquí un `DataFrame`:

In [ ]:
datos = {
    "Nombre": ["Pepinillo Hernández", "Lúpulo de Dios",
        "Juan Juon", "Jimmy el Patatas",
        "Lorenzo Retaguardias"],
    "Cereal favorito": ["Korn Floks", "Verdurinis",
        "Zumbaritas", "Diabetukis, Papá",
        "Fibra Máxima 3000"],
    "Hora del desayuno": ["11:00", "07:30", "07:00",
        "08:30", "09:30"]
}

df = pd.DataFrame(datos)
df

Agregar una nueva columna de `Frutas` con los valores `["Pera", "Manzana", "Plátano", "Guayaba","Pizza"]` haciendo uso de una Serie:

`variable_dataframe[-nombre de columna-] = ps.Series(-lista de valores-)`

In [ ]:
df[] = 
df

También es posible modificar los valores de las horas del desayuno por:

    "10:30", "06:30", "06:00", "07:00", "08:00"
    
Se usa la misma forma, sólo que en este caso se usa el nombre de una columna que ya existía para remplazar sus valores:

In [ ]:
df[] = 
df

Ahora, para eliminar la columna de `Frutas` se hace uso de la forma:

`variable_dataframe.drop(columns=-lista de columnas a borrar-)`

In [ ]:
df.drop()

Recuerda que estos métodos sólo regresan "vistas". Para que el cambio permanezca, tenemos que asignar el resultado de la operación a la variable `df` o a alguna otra variable:

In [ ]:
df_sin_frutas = df.drop(...)
df_sin_frutas

---
---
## Reto 4: Manipulación de Columnas

### 1. Objetivos:
    - Practicar asignar, reasignar y eliminar columnas de `DataFrames`
 
---
    
### 2. Desarrollo:

a) Transformación de `DataFrames`

Eres de nuevo el Data Wrangler Inc. Tienes el mismo conjunto de datos que en el Reto pasado:

In [ ]:
datos_productos = {
    "nombre": ["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"],
    "precio": [10000, 5500, 3500, 750, 15500, 12250, 23000],
    "peso": [1.2, 1.5, 2.3, 5.5, 3.4, 2.4, 8.8],
    "capacidad de destrucción retinal": [3, 7, 6, 8, 9, 2, 10],
    "disponible": [True, False, True, True, False, False, True]
}

indice = [1, 2, 3, 4, 5, 6, 7]

Esta vez el Analista de Datos te hace 3 nuevos pedidos que incluyen la creación de una nueva columna, la asignación de nuevos datos a una columna y la eliminación de un par de columnas.

Crea un `DataFrame` usando `datos_productos` e `indice` y realiza sus pedidos.

In [ ]:
## Realiza aquí los imports necesarios

In [ ]:
df_productos = 
df_productos

In [ ]:
# Agrega por favor una columna con el nombre
# "nivel de dolor" a `df_procutos_2` con los
# valores de columna_nueva
columna_nueva = [4, 7, 6, 8, 9, 7, 3]
df_productos_2 = df_productos.copy()

df_productos_2[] = 
df_productos_2

In [ ]:
# Modifica por favor el DataFrame `df_productos_3`
# cambiando la columna `precio` por la información
# contenida en `precios_descuento`
precios_descuento = [8000, 4000, 2000, 500, 14000, 10000, 15000]
df_productos_3 = df_productos.copy()

# modifica df_productos_3 aquí
df_productos_3

In [ ]:
# Elimina por favor las columnas "precio" y "peso"
# de `df_productos` y asigna el resultado a
# `df_productos_4`
df_productos_4 =
df_productos_4