## Ejemplo 3: `map`

### 1. Objetivos:
    - Usar `map` para convertir datos usando un `diccionario` o una `función``
 
---
    
### 2. Desarrollo:

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(
    '../Datasets/new_york_times_bestsellers-dirty.csv',
    index_col=0)
df.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95

In [12]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

Imprimiendo todos los elementos únicos en la columna `rank.numberInt` usando

`df[-columna-].unique()`

In [5]:
df["rank.numberInt"].unique()

array(['2', '3', '4', '5', '7', '8', '9', '10', '12', '13', '14',
       'No Rank', '6', '11', '15', '1', '16'], dtype=object)

Digamos que queremos transformar los datos de nuestra columna 'rank.numberInt' para que el 'rankink' esté dado por letras, no por números.

Sabemos que hay un valor 'No Rank' en esa columna, así que nuestro diccionario de conversión podría verse así:

In [7]:
int_a_letra = {
    '1': 'a',
    '2': 'b',
    '3': 'c',
    '4': 'd',
    '5': 'e',
    '6': 'f',
    '7': 'g',
    '8': 'h',
    '9': 'i',
    '10': 'j',
    '11': 'k',
    '12': 'l',
    '13': 'm',
    '14': 'n',
    '15': 'o',
    '16': 'p',
    'No Rank': 'z'
}

Lo aplicamos usando `map`:

`dataframe[-columna-].map(-diccionario-)`

In [13]:
df["rank.numberInt"].map(int_a_letra).head(10)

0     b
1     c
2     d
3     e
5     g
6     h
7     i
8     j
9     l
10    m
Name: rank.numberInt, dtype: object

In [14]:
df["rank.numberInt"] = df["rank.numberInt"].map(int_a_letra)
df.head(10)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,b,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,c,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,d,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,e,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,g,4,3,26.95
6,http://www.amazon.com/From-Worse-Southern-Vamp...,Jimmy Buffett,Descr: A Southern family tries to hide its pet...,"Little, Brown",SWINE NOT?,5b4aa4ead3089013507db192,2008-05-24 00:00:00,1212883200000,h,6,2,21.99
7,http://www.amazon.com/Where-Are-You-Now-Novel/...,Elizabeth George,"Descr: In Cornwall, trying to recover from his...",Harper,CARELESS IN RED,5b4aa4ead3089013507db193,2008-05-24 00:00:00,1212883200000,i,8,3,27.95
8,http://www.amazon.com/The-Whole-Truth-David-Ba...,David Baldacci,Descr: An intelligence agent and a journalist ...,Grand Central,THE WHOLE TRUTH,5b4aa4ead3089013507db194,2008-05-24 00:00:00,1212883200000,j,7,5,26.99
9,http://www.amazon.com/Unaccustomed-Earth-Jhump...,James Frey,"Descr: A novel, set in Los Angeles, by the aut...",Harper,BRIGHT SHINY MORNING,5b4aa4ead3089013507db196,2008-05-24 00:00:00,1212883200000,l,9,2,26.95
10,http://www.amazon.com/The-Racing-Rain-Garth-St...,Garth Stein,Descr: A Lab-terrier mix with great insight in...,Harper,THE ART OF RACING IN THE RAIN,5b4aa4ead3089013507db197,2008-05-24 00:00:00,1212883200000,m,0,1,23.95

También podemos usar una función para `map`. Por ejemplo esta función que realiza una correspondencia entre el precio de un libro y su representación en `string`:

In [15]:
def numero_a_moneda(valor):
    """ convierte de float a cadena con formato """
    return f"${valor:.2f} M.N."

In [16]:
df['price.numberDouble'].map(numero_a_moneda).head(20)

0     $25.99 M.N.
1     $24.95 M.N.
2     $22.95 M.N.
3     $24.95 M.N.
5     $26.95 M.N.
6     $21.99 M.N.
7     $27.95 M.N.
8     $26.99 M.N.
9     $26.95 M.N.
10    $23.95 M.N.
11    $24.95 M.N.
13    $25.99 M.N.
14    $24.95 M.N.
16    $25.95 M.N.
17    $22.95 M.N.
18    $24.95 M.N.
19    $26.95 M.N.
20    $24.95 M.N.
21    $26.95 M.N.
22    $27.95 M.N.
Name: price.numberDouble, dtype: object

In [17]:
df['price.numberDouble'] = df['price.numberDouble'].map(numero_a_moneda)
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,b,1,3,$25.99 M.N.
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,c,2,2,$24.95 M.N.
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,d,0,1,$22.95 M.N.
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,e,0,1,$24.95 M.N.
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,g,4,3,$26.95 M.N.

Lo único que tienes que pensar al usar `map` es: "¿Este dato tiene una correspondencia con otro dato que pueda representar con un diccionario o una función?". Y listo.

---
---

## Reto 3: Map

### 1. Objetivos:
    - Practicar el uso del método `map` para mapear un dato a otro dato que le corresponde.
    
---
    
### 2. Desarrollo:

#### a) Booleanos a numéricos

Vamos a trabajar sobre el dataset que guardaste en el Reto anterior. Esta vez tu Reto es muy sencillo:

1. La columna `is_potentially_hazardous_asteroid` tiene valores `booleanos`. Crea un diccionario de mapeo donde hagas un correspondencia de cada valor `booleano` con su equivalente numérico y transforma esa columna.
2. Usa una función para mapear la columna `relative_velocity.kilometers_per_hour` a una nueva columna llamada `relative_velocity.kilometers_per_minute`, que contenga la velocidad del objeto en kilómetros por minuto.
3. Guarda tu `DataFrame` resultante en la variable `df_reto_3`.
4. Guarda tu resultado en un archivo .csv.

- True -> 1
- False -> 0

In [18]:
import pandas as pd

In [ ]:
df_reto_3 = pd.read_csv("../Ejemplo-02/objetos_cercanos_2.csv", index_col=0)
df_reto_3.head(3)

In [ ]:
# analiza

In [ ]:
# mapea
...
df_reto_3["is_potentially_hazardous_asteroid"]

In [ ]:
# analiza

In [ ]:
# transforma usando función
...
df_reto_3["relative_velocity.kilometers_per_minute"]

In [ ]:
# guarda resultado al archivo objetos_cercanos_3.csv